@function calculate($min, $max, $level) {
  $interval: ($max - $min) / 5;
  $result: $min + $interval * ($level - 1);

  @return $result;
}

@function validate($level) {
  $level: floor($level);

  @if $level < 1 {
    @return 1;
  } @else if $level > 6 {
    @return 6;
  } @else {
    @return $level;
  }
}

@function radius($level) {
  $level: validate($level);
  $min: 0.2rem;
  $max: 1rem;

  @return calculate($min, $max, $level);
}

@function space($level) {
  $level: validate($level);
  $min: 0.3rem;
  $max: 1.5rem;

  @return calculate($min, $max, $level);
}
