// #################
// 반복문으로 최대 최소 값 사이에 순차적으로 만들기
// #################

// Colors
$base-black: #333;
$alice-blue: #f5f6fa;

// Border Radius
$radius-5: 0.9rem;
$radius-4: 0.7rem;
$radius-3: 0.5rem;
$radius-2: 0.3rem;
$radius-1: 0.1rem;

// Spacing
$space-6: 1.5rem;
$space-5: 1.22rem;
$space-4: 0.94rem;
$space-3: 0.66rem;
$space-2: 0.38rem;
$space-1: 0.1rem;

// Fonts

// Weights
$weight-6: 700;
$weight-5: 600;
$weight-4: 500;
$weight-3: 400;
$weight-2: 300;
$weight-1: 200;

// Sizes

// Headings Size
$h-size-6: 2.5rem;
$h-size-5: 2rem;
$h-size-4: 1.5rem;
$h-size-3: 1.2rem;
$h-size-2: 0.9rem;
$h-size-1: 0.7rem;

// Body
$b-size-6: 2rem;
$b-size-6: 2rem;
$b-size-6: 2rem;
$b-size-6: 2rem;
$b-size-6: 2rem;
$b-size-6: 2rem;

// Line Heights
$line-height-5: 1.5;
$line-height-4: 1.4;
$line-height-3: 1.2;
$line-height-2: 1;
$line-height-1: 0.8;
